<%
facets = @searcher.facets || []
price_ranges = YAML::load(Spree::Config[:product_price_ranges])
  for facet in facets
    options = facet.options
    options = options.sort{|x,y| y.count <=> x.count} unless facet.name == :price_range
    unless options.empty? %>
      <h4><%= t "#{facet.name}_facet" %></h4>
      <ul><%
        for option in options %>
          <li>
            <% if facet.name == :price_range -%>
              <%= link_to_facet(facet.name, option.name, option.count,
                                "#{price_ranges[option.name.to_i]} (#{option.count})") -%>
            <% else -%>
              <%= link_to_facet(facet.name, option.name, option.count) -%>
            <% end -%>
          </li><%
        end %>
      </ul><%
    end
  end
%>
